@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
#pergunta{
    background-color: lightblue;
    color: white;
    text-align: center;
    padding: 5px;

}
main{
    display: flex;
    flex-direction: column;
}
.btn{
    
    width: 100px;
    margin: 10px;
}
#botao{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#botao:hover{
    cursor: pointer;
}