@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
body{
    min-height: 100vh;
    background-color: rgba(101, 169, 192, 0.61);
}
header{
    background-color: lightblue;
    color: white;
    text-align: center;
    height: 100px;
    border-bottom: 2px solid white;
}
header p{
    margin-top: 4.5px;
}
#pergunta{
    font-size: 20px;
    padding: 10px;
    font-variant: small-caps;
}
main{
    display: flex;
    justify-content: center;
}
#respostas{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn{
    background-color: lightblue;
    color: aliceblue;
    font-weight: bolder;
    height: 50px;
    width: 200px;
    margin: 10px;
    border: 1px solid white;
    border-radius: 10px;
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(102, 207, 241);
    border: 1px solid black;
    margin: 15px;
    transition: 1s;
}
#correta::backdrop{
    background-color: green;
}
#retornar{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 390%);
}
#retornar:hover{
    cursor: pointer;
    color: red;
}